

{{ template "theme/partials/header.html" . }}

<div id="layout" class="pure-g">
 {{ template "theme/partials/sidebar.html" . }}
<div class="content pure-u-1 pure-u-md-3-4">

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ .Summary }}
            </div>
        </div>
        	
 {{ if eq .RelPermalink "/alltags/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

 {{ if eq .RelPermalink "/allcategories/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

 {{ if eq .RelPermalink "/alldescriptions/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.descriptions }}
    <li><a href="/descriptions/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

 {{ template "theme/partials/footer.html" . }}

</div>
</div>
</div>

