{{ partial "head.html" . }}
<body>
{{ partial "banner.html" . }}
{{ partial "navbar.html" . }}
<div id="main">
  <div id="content">

    <div class="blog-index">
    
    
	{{ range $key,$value := .Data.Pages }}
	
	{{ if eq .Type  "post" }}

      <article>
        <header>
          <h1 class="entry-title"><a href="{{.Permalink}}">{{.Title}}</a></h1>
          <p class="meta">
            <!-- <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" pubdate data-updated="true">{{ .Date.Format "January 2, 2006" }}</time> -->
            <figure>
    			<img src='{{$key}}.jpg' />

			</figure>
            &bull;
            <a rel="bookmark" href="{{$value.Permalink}}">Permalink</a>
          </p>
        </header>
        <div class="entry-content">
          {{.Summary}}
        </div>
        <footer>
          <a rel="full-article" href="{{.Permalink}}">Lue &rarr;</a>
        </footer>
      </article>
      
     {{ end }} 
      
{{ end }}

      <div class="pagination">
        <!-- <a class="prev" href="/post/page/2/">&larr; Older</a> -->
        <a href="/post">Blogi Arkisto</a>
        <!-- <a class="next" href="/">Newer &rarr;</a> -->
      </div>
    </div>

{{ partial "page/sidebar.html" . }}

  </div>
</div>

{{partial "footer.html" .}}

</body>
</html>
