<img alt="Chat" src="/dist/img/icons/svg/chat.svg">
<img alt="Mail" src="/dist/img/icons/svg/mail.svg">
<img alt="Map" src="/dist/img/icons/svg/map.svg">
<script src="//code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8">

$(document).ready(function(){
	function show_popup(){
	
	$('#myModal').delay(15000).modal('show');
	
	};
	window.setTimeout( show_popup, 1500 );

 });
 

</script>


</div> <!-- end class="container"   -->
</body>
</html>