<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

 <meta name="locale" content="{{ .Site.Params.locale}} ">
	<meta name="themes" content="{{ .Site.Params.themes}} ">
	<meta name="site" content="{{ .Site.Params.site}} ">
	<meta name="keywords" content="{{ range  .Site.Params.keywords }}{{.}},{{ end }}">
	<meta name="description" content="{{ range  .Site.Params.description }}{{.}} {{ end }}">


 <!-- open graph -->
<meta property="og:type" content="article"/>

<meta property="og:description" content="{{ range  .Site.Params.description }}{{.}} {{ end }}">

<meta property="og:title" content="{{ .Title }} : {{ .Site.Title }}"/>
<meta property="og:site_name" content="{{.Site.Params.site}}"/>
{{if .Params.cover_image_url}}
<meta property="og:image" content="{{ .Site.BaseUrl }}{{ .Params.cover_image_url }}" />
<meta property="og:image:type" content="image/jpeg" />
{{end}}
<meta property="og:url" content="{{ .Permalink }}" />

{{ range .Keywords }}<meta property="article:tag" content="{{ . }}" />
{{ end }}



