{{ partial "head.html" . }}

<body id="single">
{{ partial "banner.html" . }}
{{ partial "navbar.html" . }}


<div id="content-container">

 
<div class="post">

   
 
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                  
                    {{ .Content }}
 
        	
 {{ if eq .RelPermalink "/alltags/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    <li><a href="/tags/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

 {{ if eq .RelPermalink "/allcategories/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
    <li><a href="/categories/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

 {{ if eq .RelPermalink "/alldescriptions/"}}	
 
 <ul id="all-tags">
  {{ range $name, $taxonomy := .Site.Taxonomies.descriptions }}
    <li><a href="/descriptions/{{ $name | urlize }}">{{ $name }}</a></li>
  {{ end }}
</ul>       
{{ end }}

</div>


</div>
{{partial "footer.html" .}}

</body>
</html>



