
{{ template "theme/partials/head.html" . }}
<body id="list">
 {{ template "theme/partials/header.html" . }}
  <div id="content-container">
    <div class="posts">
      <!-- Iterate over the pages -->
      {{ range first 15 (where .Data.Pages "Section" "post") }}
        <div class="post-preview">
 

          <div class="post-content">
            <h1 class="post-title">
              <a href="{{ .Site.BaseUrl }}{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>

            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

            <p>{{ .Description }}</p>
            <p>{{ .Summary }}
          </div>
        </div>
      {{ end }}

    </div>
  </div>

  {{ template "theme/partials/footer.html" . }}
</body>
</html>