<!DOCTYPE html>
<html>
<head>
    <!-- Document Settings -->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="locale" content="{{ .Site.Params.locale}} ">
<meta name="themes" content="{{ .Site.Params.themes}} ">
<meta name="site" content="{{ .Site.Params.site}} ">
<meta name="keywords" content="{{ range  .Site.Params.keywords }}{{.}},{{ end }}">
<meta name="description" content="{{ range  .Site.Params.description }}{{.}} {{ end }}">

    <!--Styles'n'Scripts -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/base.css" />
</head>
